.searchbar {
    display: flex;
    justify-content: center;
}

.searchbar input {
    width: 500px;
    height: 50px;
    border: 0;
    border-radius: 50px;
    padding: 0 20px;
    font-size: 16px;
    font-family: var(--inter);
    font-weight: 500;
    color: black;
    box-shadow: 0 3px 5px 5px #0003;
}

.searchbar .search-button {
    background: var(--accent);
    border: 0;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    margin-left: -50px;
    transition: all .2s ease;
}

.searchbar .search-button:hover {
    background: var(--primary);
    cursor: pointer;
    transition: all .2s ease;
}

.searchbar input:focus {
    outline: none;
}

.filters {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 50px;
}

.filters button {
    background: white;
    border: 0;
    padding: 10px 30px;
    border-radius: 50px;
    color: var(--accent);
    margin: 0 14px;
    font-size: 16px;
    font-family: var(--inter);
    font-weight: 600;
    transition: all .2s ease;
    box-shadow: 0 3px 5px 5px #0003;
    outline: 2px solid var(--accent);
}

.filters button:hover {
    outline: 5px solid var(--accent);
    color: white;
    background: var(--accent);
    cursor: pointer;
    transition: all .2s ease;
}

.container { 
    display: flex;
    gap: 120px;
    align-items: center;
    margin-left: 80px;
}

.articles-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-left: 100px;
}

.articles-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-left: 100px;
}

.article-card {
    display: grid;
    grid-template-columns: 150px minmax(300px, 445px);
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.02), 
                25px 25px 20px hsla(0, 0%, 0%, 0.03),
                100px 100px 80px hsla(0, 0%, 0%, 0.05);
}

.article-card a {
    text-decoration: none;
    color: white;
}

.article-image {
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

.image-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease;
}

.article-card .image-banner:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.article-content {
    width: 600px;
    background: var(--white);
    padding: 32px 32px;
    border-radius: 0 10px 10px 0;
}

.article-title {
    font-size: 20px;
    color: black;
    margin-bottom: 12px;
    line-height: 1.4;    
    transition: all 0.3s ease;
    padding-right: 50px;
}

.article-title:hover {
    color: var(--accent);
}

.article-body {
    font-size: 12px;
    color: rgb(83, 83, 83);
    margin-bottom: 18px;
    line-height: 1.5;
    padding-right: 20px;
}

.article-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    display: flex;
    align-items: center;
}

.author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}   

.author-name {
    font-size: 14px;
    color: black;
    margin-bottom: 3px;
    transition: all 0.3s ease;
}

.author-name:hover {
    color: rgb(158, 158, 158);
}

.publish-date {
    font-size: 12px;
    font-weight: 300;
    color: rgb(110, 110, 110);
}

.share {
    position: relative;
}

.share-button {
    background: rgb(199, 199, 199);
    border: 0;
    padding: 6px;
    border-radius: 20px;
    color: rgb(99, 99, 99);
    font-size: 20px;
    transition: all .2s ease;
    margin-left: 240px;
}

.share-button:hover {
    background: rgb(99, 99, 99);
    color: rgb(180, 180, 180);
    cursor: pointer;
    transition: all .2s ease;
}

.share-options {
    background: var(--accent);
    position: absolute;
    bottom: calc(100% + 28px);
    left: 50%;
    transform: translate(-50%, 0, 0);
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 17px 40px;
    border-radius: 12px;
    box-shadow: 0 5px 20px -5px #0003;
    transform-origin: bottom;
    visibility: hidden;
}

.share-options.active {
    scale: 1;
    visibility: visible!important;
}

.share-options::after {
    content: '';
    background: var(--accent);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(45deg);
}

.share-options span {
    font-size: 11px;
    font-family: var(--inter);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    margin-right: 5px;
    color: white;
}

.share-options ion-icon {
    font-size: 22px;
}

.share-options ion-icon:hover {
    filter: invert(1);
    cursor: pointer;
}