#register__page > img {
    position: absolute;
    aspect-ratio: 16 / 9;
    transform: scale(1.2);
    overflow: hidden;
    width: 110%;
    height: 90%;
    top: 200px;
    object-fit: cover;
    object-position: 100px -400px;
    z-index: -1;
    filter: blur(8px);
}

#register__page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* margin-left: 500px; */
    margin-top: 30px;
}

.inputs {
    max-width: 700px;
    width: 100%;
    background: hsla(0, 0%, 20%, 0.6);
    backdrop-filter: blur(8px);
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 3px 5px 5px #0003;
}

.inputs .title {
    font-family: var(--inter);
    font-size: 25px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    color: white;
}

.inputs .title::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    left: 0;
    background: var(--accent);
}

.inputs form .user__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user__details .input__box {
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}

.user__details .input__box .details {
    display: block;
    font-family: var(--inter);
    font-weight: 500;
    margin-bottom: 5px;
    color: white;
}

.user__details .input__box input {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 12px;
    padding-top: 4px;
    font-size: 14px;
    color: #808080;
    border-bottom-width: 2px;
    border-bottom-color: var(--accent);
    transition: all 0.3s ease;
}

input[type=number] {
    -moz-appearance: textfield;
}

.user__details .input__box input:focus {
/* .user__details .input__box input:valid { */
    border: 1px solid var(--accent);
}

.user__details label {
    font-family: var(--inter);
    font-weight: 500;
    margin-bottom: 5px;
    color: white;

}

.user__details #p2 {
    margin-left: -40px;
}


form .input__choice .input__choice-title {
    font-family: var(--inter);
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    color: white;
}

form .input__choice .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.input__choice .category label {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-family: var(--inter);
    font-size: 16px;
    color: white;
}

.input__choice .category .dot {
    height: 18px;
    width: 18px;
    background: #d6d6d6;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
    border-color: #d6d6d6;
    background: var(--accent);
}

form input[type="radio"] {
    display: none;
}

.input__birthday {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.input__birthday span {
    font-family: var(--inter);
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    color: white;
}

.input__birthday input {
    margin-top: 6px;
    height: 40px;
    width: calc(100%/2 - 20px);
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 12px;
    padding-top: 4px;
    font-size: 14px;
    color: #808080;
    border-bottom-width: 2px;
    border-bottom-color: var(--accent);
    transition: all 0.3s ease;
}

.input__birthday input:focus {
    border: 1px solid var(--accent);
}

form .button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 25px 0;
    background: var(--accent);
    color: #fff;
    font-size: 18px;
    font-family: var(--inter);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .button input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: var(--accent);
    color: #fff;
    font-size: 18px;
    font-family: var(--inter);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .button input:hover {
    background: var(--primary);
}